USE [master]
GO
/****** Object:  Database [QuanLySinhVien]    Script Date: 25/06/2023 22:25:50 ******/
CREATE DATABASE [QuanLySinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySinhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLySinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySinhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLySinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySinhVien]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Gender] [bit] NULL,
	[BirthDay] [datetime] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[TienDien] [decimal](18, 2) NULL,
	[TienNuoc] [decimal](18, 2) NULL,
	[TienPhong] [decimal](18, 2) NULL,
	[TongTien] [decimal](18, 2) NULL,
	[NgayThu] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Bill] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongToDiens]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongToDiens](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSoCongTo] [nvarchar](max) NULL,
	[ChiSoCu] [real] NOT NULL,
	[ChiSoMoi] [real] NOT NULL,
	[TieuThu] [real] NOT NULL,
	[TongTien] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.CongToDiens] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongToNuocs]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongToNuocs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSoCongTo] [nvarchar](max) NULL,
	[ChiSoCu] [real] NOT NULL,
	[ChiSoMoi] [real] NOT NULL,
	[TieuThu] [real] NOT NULL,
	[TongTien] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.CongToNuocs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[UrlContract] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ExpireDate] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Contract] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentCode] [nvarchar](max) NULL,
	[DepartmentName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Department] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyClass]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyClass](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClassCode] [nvarchar](max) NULL,
	[ClassName] [nvarchar](max) NULL,
	[Departments_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MyClass] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ExpireDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Notification] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[Content] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[PostBy] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoomCode] [nvarchar](max) NOT NULL,
	[MaSoCongToDien] [int] NOT NULL,
	[MaSoCongToNuoc] [int] NOT NULL,
	[RoomName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[SoSV] [int] NULL,
	[GiaPhong] [numeric](18, 0) NULL,
	[TypeRoomID] [int] NULL,
 CONSTRAINT [PK_dbo.Room] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[BirthDay] [datetime] NULL,
	[Gender] [int] NOT NULL,
	[Avatar] [nvarchar](256) NULL,
	[CreateDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Address] [nvarchar](256) NULL,
	[ClassID] [int] NULL,
	[RoomID] [int] NULL,
	[Contracts_ID] [int] NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[ContentDescription] [nvarchar](max) NULL,
	[ClassName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeRoom]    Script Date: 25/06/2023 22:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeRoom](
	[MaLoaiPhong] [int] NULL,
	[TenLoaiPhong] [nchar](100) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Student')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'SupperAdmin')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'194cac2e-f181-48c6-942c-0a0b501dbae4', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'54e0e0f2-8360-42cb-9995-1d574c22de73', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'738c4c24-b047-45d2-bd21-c0b7c4489706', N'1')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Avatar], [FullName], [Address], [Gender], [BirthDay]) VALUES (N'194cac2e-f181-48c6-942c-0a0b501dbae4', N'danglun337747@gmail.com', 1, N'APh702r6tYh0WpbjPn9ZjDbgg1buZtwzYQcabmkLa/uY6wme+scQRD2pI/YNEU00jA==', N'863f6976-1f0c-4306-a603-6dd777fe1eb1', NULL, 0, 0, NULL, 1, 0, N'danglun337747@gmail.com', NULL, N'Trần Duy Đăng', NULL, 0, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Avatar], [FullName], [Address], [Gender], [BirthDay]) VALUES (N'20c5ce16-7c66-405d-a568-fa9961d3e387', N'vohung.it@gmail.com', 1, N'ANfW13lbtbG1J+zBDRTa3eCH+v7TbZmdVMx1KJO/a85NvdOo9gOBEzr47IAuVsooXQ==', N'70f5c9d9-0381-4ac7-a203-4ee95f279fb2', NULL, 0, 0, NULL, 1, 0, N'vohung.it@gmail.com', NULL, N'afadf', NULL, 0, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Avatar], [FullName], [Address], [Gender], [BirthDay]) VALUES (N'54e0e0f2-8360-42cb-9995-1d574c22de73', N'vana@gmail.com', 1, N'AJDl0Zm6vBOQyy1PsJZIawFHlPlm1V4azDjb/uoMAdgyYrFhHCVVW+T+t+DO09CV9A==', N'0e29677b-5ebe-416b-928d-57dd34d5b81c', NULL, 0, 0, NULL, 1, 0, N'vana@gmail.com', NULL, N'Phan Văn A', NULL, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[CongToDiens] ON 

INSERT [dbo].[CongToDiens] ([ID], [MaSoCongTo], [ChiSoCu], [ChiSoMoi], [TieuThu], [TongTien]) VALUES (1, N'ctd01', 1, 1, 0, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[CongToDiens] ([ID], [MaSoCongTo], [ChiSoCu], [ChiSoMoi], [TieuThu], [TongTien]) VALUES (2, N'ctd02', 1, 1, 0, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[CongToDiens] ([ID], [MaSoCongTo], [ChiSoCu], [ChiSoMoi], [TieuThu], [TongTien]) VALUES (1002, N'ctn03', 1, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[CongToDiens] OFF
GO
SET IDENTITY_INSERT [dbo].[CongToNuocs] ON 

INSERT [dbo].[CongToNuocs] ([ID], [MaSoCongTo], [ChiSoCu], [ChiSoMoi], [TieuThu], [TongTien]) VALUES (1007, N'ctn01', 1, 1, 0, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[CongToNuocs] ([ID], [MaSoCongTo], [ChiSoCu], [ChiSoMoi], [TieuThu], [TongTien]) VALUES (1008, N'ctn02', 1, 1, 0, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[CongToNuocs] ([ID], [MaSoCongTo], [ChiSoCu], [ChiSoMoi], [TieuThu], [TongTien]) VALUES (1009, N'ctn03', 1, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[CongToNuocs] OFF
GO
SET IDENTITY_INSERT [dbo].[Contract] ON 

INSERT [dbo].[Contract] ([ID], [StudentID], [UrlContract], [CreatedDate], [ExpireDate], [Status]) VALUES (1006, 0, NULL, CAST(N'2023-06-22T14:42:31.623' AS DateTime), CAST(N'2028-06-22T14:42:31.623' AS DateTime), 1)
INSERT [dbo].[Contract] ([ID], [StudentID], [UrlContract], [CreatedDate], [ExpireDate], [Status]) VALUES (1007, 1017, NULL, CAST(N'2023-06-22T14:45:18.670' AS DateTime), CAST(N'2028-06-22T14:45:18.670' AS DateTime), 1)
INSERT [dbo].[Contract] ([ID], [StudentID], [UrlContract], [CreatedDate], [ExpireDate], [Status]) VALUES (1008, 1017, NULL, CAST(N'2023-06-22T14:45:42.210' AS DateTime), CAST(N'2028-06-22T14:45:42.210' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Contract] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([ID], [Avatar], [Name], [CreatedDate], [Content], [MetaTitle], [Status], [PostBy]) VALUES (2, N'/Assets/reward.png', N'Giảm giá 20% phòng 4 người', CAST(N'2023-06-22T15:48:06.233' AS DateTime), N'<p>Nội dung</p>', N'giam-gia-20-phong-4-nguoi', 1, NULL)
SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([ID], [RoomCode], [MaSoCongToDien], [MaSoCongToNuoc], [RoomName], [Description], [Status], [SoSV], [GiaPhong], [TypeRoomID]) VALUES (12, N'P1', 1, 1007, N'Phòng 101', N'', 1, 3, CAST(149999 AS Numeric(18, 0)), 1)
INSERT [dbo].[Room] ([ID], [RoomCode], [MaSoCongToDien], [MaSoCongToNuoc], [RoomName], [Description], [Status], [SoSV], [GiaPhong], [TypeRoomID]) VALUES (13, N'P2', 2, 1008, N'Phòng 201', N'', 1, 5, CAST(199999 AS Numeric(18, 0)), 2)
INSERT [dbo].[Room] ([ID], [RoomCode], [MaSoCongToDien], [MaSoCongToNuoc], [RoomName], [Description], [Status], [SoSV], [GiaPhong], [TypeRoomID]) VALUES (14, N'P3', 1002, 1009, N'Phòng 303', N'', 1, 2, CAST(700000 AS Numeric(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([ID], [Name], [BirthDay], [Gender], [Avatar], [CreateDate], [UpdatedDate], [Address], [ClassID], [RoomID], [Contracts_ID], [PhoneNumber], [Email], [ContentDescription], [ClassName]) VALUES (1021, N'Trần Duy Đăng', CAST(N'2003-08-20T00:00:00.000' AS DateTime), 1, NULL, NULL, NULL, N'Đồng Tháp', NULL, 12, 1011, N'0868337747', N'danglun337747@gmail.com', NULL, NULL)
INSERT [dbo].[Students] ([ID], [Name], [BirthDay], [Gender], [Avatar], [CreateDate], [UpdatedDate], [Address], [ClassID], [RoomID], [Contracts_ID], [PhoneNumber], [Email], [ContentDescription], [ClassName]) VALUES (1022, N'Võ Chân Phương', CAST(N'2004-12-20T00:00:00.000' AS DateTime), 1, NULL, NULL, NULL, N'Đồng Tháp', NULL, NULL, 1012, N'23232323', N'phuong@gmail.com', NULL, NULL)
INSERT [dbo].[Students] ([ID], [Name], [BirthDay], [Gender], [Avatar], [CreateDate], [UpdatedDate], [Address], [ClassID], [RoomID], [Contracts_ID], [PhoneNumber], [Email], [ContentDescription], [ClassName]) VALUES (1023, N'Trần Minh Thức', CAST(N'2003-07-06T00:00:00.000' AS DateTime), 1, NULL, NULL, NULL, N'Đồng Tháp', NULL, NULL, 1013, N'0123456789', N'thuc@gmail.com', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
INSERT [dbo].[TypeRoom] ([MaLoaiPhong], [TenLoaiPhong]) VALUES (1, N'Phòng 4 người                                                                                       ')
INSERT [dbo].[TypeRoom] ([MaLoaiPhong], [TenLoaiPhong]) VALUES (2, N'Phòng 8 người                                                                                       ')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 25/06/2023 22:25:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 25/06/2023 22:25:50 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 25/06/2023 22:25:50 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 25/06/2023 22:25:50 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 25/06/2023 22:25:50 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 25/06/2023 22:25:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomID]    Script Date: 25/06/2023 22:25:50 ******/
CREATE NONCLUSTERED INDEX [IX_RoomID] ON [dbo].[Bill]
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departments_ID]    Script Date: 25/06/2023 22:25:50 ******/
CREATE NONCLUSTERED INDEX [IX_Departments_ID] ON [dbo].[MyClass]
(
	[Departments_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaSoCongToDien]    Script Date: 25/06/2023 22:25:50 ******/
CREATE NONCLUSTERED INDEX [IX_MaSoCongToDien] ON [dbo].[Room]
(
	[MaSoCongToDien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaSoCongToNuoc]    Script Date: 25/06/2023 22:25:50 ******/
CREATE NONCLUSTERED INDEX [IX_MaSoCongToNuoc] ON [dbo].[Room]
(
	[MaSoCongToNuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bill_dbo.Room_RoomID] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_dbo.Bill_dbo.Room_RoomID]
GO
ALTER TABLE [dbo].[MyClass]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MyClass_dbo.Department_Departments_ID] FOREIGN KEY([Departments_ID])
REFERENCES [dbo].[Department] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MyClass] CHECK CONSTRAINT [FK_dbo.MyClass_dbo.Department_Departments_ID]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Room_dbo.CongToDiens_MaSoCongToDien] FOREIGN KEY([MaSoCongToDien])
REFERENCES [dbo].[CongToDiens] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_dbo.Room_dbo.CongToDiens_MaSoCongToDien]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Room_dbo.CongToNuocs_MaSoCongToNuoc] FOREIGN KEY([MaSoCongToNuoc])
REFERENCES [dbo].[CongToNuocs] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_dbo.Room_dbo.CongToNuocs_MaSoCongToNuoc]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_dbo.Contract_Contracts_ID] FOREIGN KEY([Contracts_ID])
REFERENCES [dbo].[Contract] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_dbo.Students_dbo.Contract_Contracts_ID]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_dbo.MyClass_ClassID] FOREIGN KEY([ClassID])
REFERENCES [dbo].[MyClass] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_dbo.Students_dbo.MyClass_ClassID]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_dbo.Room_RoomID] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([ID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_dbo.Students_dbo.Room_RoomID]
GO
USE [master]
GO
