
@{
    ViewBag.Title = "Biểu đồ thống phòng";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section jsFooter{
    <script src="~/Assets/template/js/controllers/roomChart.js"></script>

}

<div class="alert alert-info align-center">
    Biểu đồ thống kê phòng
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <div class="row">
                    <h4 class="text-center">Thống kê phòng trống</h4>
                </div>
            </div>
            <div class="body">
                <canvas id="_emtyRoom"></canvas>
            </div>
        </div>
    </div>
</div>





