@model QuanLySinhVien.Webs.Models.Identity.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu?";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Quên mật khẩu | Hệ thống KTX DThU</title>
    <!-- Favicon-->
    <link rel="icon" href="/Assets/template/favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="/Assets/template/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="/Assets/template/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="/Assets/template/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="/Assets/template/css/style.min.css" rel="stylesheet">
</head>
<body>

    <div class="bg-text ">
        <div class="fp-box">
            <div class="card">
                <div class="body body1">
                    <img class="logotruong_1" src="/Assets/img/%c4%90%e1%ba%a1i_h%e1%bb%8dc_%c4%90%e1%bb%93ng_Th%c3%a1p.png">
                    <div class="htql-ktx">Hệ thống Quản lý KTX - DThU</div>
                    <div class="dktk">Xác nhận tài khoản</div>
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                    {
                        if (ViewBag.ConfirmMessage != null)
                        {
                            <p class="col-cyan">
                                Đường đẫn xác thực đã được gởi đến địa chỉ email vui lòng kiểm tra mail để lấy lại mật khẩu
                            </p>
                        }
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "col-pink" })
                        if (ViewBag.ConfirmMessage == null)
                        {
                            <div class="msg">
                                Hãy nhập địa chỉ email dùng để đăng ký tài khoản. Chúng tôi sẻ gửi cho bạn đường link có xác thực đến email của bạn.

                            </div>
                        }

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                            <div class="form-line">
                                @Html.TextBoxFor(x => x.Email, new { @placeholder = "Nhập email...", @autofocus = "autofocus", @type = "email", @class = "form-control", @required = "true" })
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Khôi phục mật khẩu</button>
                        <div class="row m-t-20 m-b--5 align-center">
                            <a class="small" href="/Account/Login">Đăng nhập</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="bg-img"></div>
    <!-- Jquery Core Js -->
    <script src="/Assets/template/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="/Assets/template/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="/Assets/template/plugins/node-waves/waves.js"></script>
    <!-- Validation Plugin Js -->
    <script src="/Assets/template/plugins/jquery-validation/jquery.validate.js"></script>
    <!-- Custom Js -->
    <script src="/Assets/template/js/admin.js"></script>
    <script src="/Assets/template/js/pages/examples/forgot-password.js"></script>
</body>
</html>