@{
    ViewBag.Title = "Danh sách sinh viên";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section jsFooter{
    <script src="/Assets/template/js/controllers/studentController.js"></script>
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtAvatar').val(url);
                $("#txtImg").attr('src', url);
            };
            finder.popup();
        });


        $(document).ready(function () {
            $('.selectListClass').select2();
        });
        Dropzone.options.dropzoneForm = {
            init: function () {
                this.on("complete", function (data) {
                    var res = JSON.parse(data.xhr.responseText);
                });
            }
        };

    </script>
  
}

<div class="alert alert-info align-center">
    Danh sách sinh viên ký túc xá sinh viên
</div>


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <ul class="nav nav-tabs" role="tablist" style="margin-left:4px">
                <li role="presentation" class="active">
                    <a href="#home_with_icon_title" data-toggle="tab">
                        <i class="material-icons col-pink">home</i> HOME
                    </a>
                </li>
                <li role="presentation">
                    <a href="#addNew" data-toggle="tab">
                        <i class="material-icons col-green">add_circle</i> Thêm học sinh
                    </a>
                </li>
            </ul>
            <div class="body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">

                        <div class="header">
                            <div class="row">
                                <div class="col-sm-4">
                                    <button class="btn btn-success waves-effect" disabled id="btn-Deletemulti"><i class="material-icons">delete_forever</i> Xóa</button>
                                    <a class="btn btn-primary waves-effect waitMe" href="/Students/ExportExcel">
                                        <i class="material-icons"></i> Xuất ra excel
                                    </a>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-10">
                                        <div class="form-group form-inline pull-left">
                                            <div class="form-line">
                                                <input type="text" class="form-control" placeholder="Tìm kiếm..." name="Search" id="txtSearch">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <i class="btn btn-dark material-icons pull-right" id="btn-refresh">autorenew</i>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" name="selectAll" id="selectAll" class="filled-in chk-col-red" />
                                                <label for="selectAll"></label>
                                            </th>
                                            <th>Tên </th>
                                            <th>Ngày sinh</th>
                                            <th>Giới tính</th>
                                            <th>Địa chỉ</th>
                                            <th>Tên lớp</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbData">
                                    </tbody>

                                </table>
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                                        <p>Trang <mark><span id="currentpage"></span></mark> tổng số <mark><span id="totalpage"></span></mark> trang</p>
                                    </div>
                                </div>

                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                        <div class="pagination" id="pagination">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="addNew">
                        <div class="modal-body">
                         

                            <form role="form" id="frmSaveData">
                                <input type="hidden" id="txtId">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="Name">Tên Sinh Viên</label>
                                        <input type="text" class="form-control" name="Name" id="txtName" />

                                    </div>
                                    <span class="validate col-pink"></span>
                                </div>

                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="txtAvatar">Avatar</label>

                                        <input type="text" class="form-control" name="Avatar" id="txtAvatar">

                                    </div>
                                    <img src="" height="50" width="50" id="txtImg" class="img img-circle" />

                                    <br />
                                    <button type="button" id="btnSelectImage" class="btn btn-primary waves-effect">Chọn hình</button>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="BirthDay">Ngày sinh</label>
                                        <input type="date" name="BirthDay" class=" form-control" id="txtBirthDay">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="Gender">Giới tính</label>
                                        <br />
                                        <input name="Gender" type="radio" id="Nam" value="1" />
                                        <label for="Nam">Nam</label>
                                        <input name="Gender" type="radio" value="0" id="Nu" />
                                        <label for="Nu">Nữ</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="Address">Địa chỉ</label>
                                        <input type="text" class="form-control" name="Address" id="txtAddress">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="PhoneNumber">Số điện thoại</label>
                                        <input type="tel" class="form-control" name="PhoneNumber" id="txtPhoneNumber">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="Email">Email</label>
                                        <input type="email" class="form-control" name="Email" id="txtEmail">
                                    </div>
                                </div>
                                   <div class="form-group">
                                    <div class="form-line">
                                        <label >Tên lớp</label>
                                        <input type="text" class="form-control" name="Email" id="txtClassName">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="ListRoomName">Tên phòng(<span class="col-pink">*</span>)</label>
                                            <div>

                                                <select name="ListRoomName" id="txtListRoomName" class="js-example-basic-single" required></select>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Hủy</button>
                            <button type="button" class="btn btn-primary waves-effect" id="btnAddNew">Thêm</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>


<script id="data-template" type="x-tmpl-mustache">
    <tr class="row_item" data-id="{{ID}}">

        <input type="hidden" id="txtId" value="{{ID}}" />
        <td>
            <input type="checkbox" id="select-{{ID}}" name="selectAll" data-id="{{ID}}" class="chk-col-red selectedItem" />
            <label for="select-{{ID}}"></label>
        </td>
        <td>{{Name}}</td>
        <td>{{BirthDay}}</td>
        <td>{{Gender}}</td>
        <td>{{Address}}</td>
        <td>{{ClassName}}</td>
        <td>
            <a href="/Students/GetDetail/{{ID}}"
               class="text-info waves-effect">
                <i class="material-icons" data-toggle="tool-tip" data-placement="top" data-original-title="Xem hồ sơ">print</i>
            </a>
            <a class="col-pink waves-effect btn-delete" data-toggle="tool-tip" data-placement="top" data-original-title="Xóa hồ sơ" data-id="{{ID}}">
                <i class="material-icons">delete_forever</i>
            </a>
        </td>
    </tr>
</script>

